lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
.DS_Store

pids
logs
results
dist
# test coverage files
coverage/

node_modules
npm-debug.log

template/**/*.js
misc/test-lib/angular-legacy
misc/test-lib/angular-mocks-legacy
misc/test-lib/angular-mocks
misc/test-lib/angular
misc/test-lib/jquery
