<div role="grid" aria-labelledby="{{uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
  <div class="head">
    <div class="row">
      <div class="small-3 columns"><button type="button" class="button small left" ng-click="move(-1)" tabindex="-1"><i class="fa fa-chevron-left"></i></button></div>
      <div class="small-6 columns"><button id="{{uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="button small" ng-click="toggleMode()" tabindex="-1" style="width:100%;"><strong>{{title}}</strong></button></div>
      <div class="small-3 columns"><button type="button" class="button small right" ng-click="move(1)" tabindex="-1"><i class="fa fa-chevron-right"></i></button></div>
    </div>
    <div class="small-7 small-offset-5 columns" ng-show="showWeeks">
      <div class="row">
        <div ng-repeat="label in labels track by $index" class="left text-center"><small aria-label="{{label.full}}">{{label.abbr}}</small></div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="row">
      <!--<div ng-repeat="row in rows track by $index" class="row">-->
        <!--<div ng-show="showWeeks" class="left text-center h6"><em>{{ weekNumbers[$index] }}</em></div>-->
        <!--<div ng-repeat="dt in row track by dt.date" class="left text-center" role="gridcell" id="{{dt.uid}}" aria-disabled="{{!!dt.disabled}}">-->
          <!--<button type="button" style="width:100%;" class="button tiny" ng-class="{'success': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-muted': dt.secondary, 'text-info': dt.current}">{{dt.label}}</span></button>-->
        <!--</div>-->
      <!--</div>-->
      <ul ng-repeat="row in rows track by $index" class="small-block-grid-8">
        <li><div ng-show="showWeeks" class="h6"><em>{{ weekNumbers[$index] }}</em></div></li>
        <li ng-repeat="dt in row track by dt.date" role="gridcell" id="{{dt.uid}}" aria-disabled="{{!!dt.disabled}}">
          <a style="width:100%;" class="" ng-class="{'success': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1">
            <span ng-class="{'text-muted': dt.secondary, 'text-info': dt.current}">{{dt.label}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
