<ul class="dropdown-menu" ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}" ng-keydown="keydown($event)">
	<li ng-transclude></li>
	<li ng-if="showButtonBar" style="padding:10px 9px 2px">
		<span class="button-group left">
			<button type="button" class="button small" ng-click="select('today')">{{ getText('current') }}</button>
			<button type="button" class="button small alert" ng-click="select(null)">{{ getText('clear') }}</button>
		</span>
		<button type="button" class="button small right" ng-click="close()">{{ getText('close') }}</button>
	</li>
</ul>
